<h1>Listing containers</h1>

<table>
  <tr>
    <th>Name</th>
    <th>Image</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @containers.each do |container| %>
  <tr>
    <td><%= container.name %></td>
    <td><%= image_tag container.image %></td>
    <td><%= link_to 'Show', container %></td>
    <td><%= link_to 'Edit', edit_container_path(container) %></td>
    <td><%= link_to 'Destroy', container, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Container', new_container_path %>
