<p id="notice"><%= notice %></p>

<p>
  <b><%= @item.name %></b>
</p>

<% if @item.placements.present? %>
  currently stored in: <%= link_to_name @item.container %>
<% else %>
  <%= link_to 'place in a container?', edit_item_path(@item) %>
<% end %>

<p>
  <%= @item.description %>
</p>

<p>
  <%= image_tag @item.image, :width => 400 %>
</p>

<p>
  <b>Approximate Value:</b>
  <%= number_to_currency @item.value %>
</p>

<p>
  <b>Approximate Vintage:</b>
  <%= @item.vintage %>
</p>


<%= link_to 'Edit', edit_item_path(@item) %>
